<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../static/styles/styles.css" />
  <title>Predicción de accidente cardiovascular</title>

</head>

<body style="background-color: rgb(87 158 209 / 12%);">


  <div class="container">
    <header class="header">
      <h1 id="title" class="header__title">Predictor de riesgo de ACV.</h1>
      <p id="description" class="header__description">
        Ingresá tus datos para calcular si hay probabilidades de que sufras un ACV.
      </p>
      <img src="../static/brain_pic.png" alt="" aria-hidden="true" class="illustration" />
    </header>
    <main class="main">
      <form action="#" method="GET" id="survey-form" class="survey" novalidate>
        <div class="progressbar" tabindex="0" role="progressbar" aria-valuemin="1" aria-valuemax="5" aria-valuenow="1">
          <span class="progressbar__step active" aria-hidden="true"></span>
          <span class="progressbar__step" aria-hidden="true"></span>
          <span class="progressbar__step" aria-hidden="true"></span>
          <span class="progressbar__step" aria-hidden="true"></span>
          <span class="progressbar__step" aria-hidden="true"></span>
          <span class="progressbar__step" aria-hidden="true"></span>
          <span class="progressbar__step" aria-hidden="true"></span>
          <span class="progressbar__step" aria-hidden="true"></span>
          <span class="progressbar__step" aria-hidden="true"></span>
          <span class="progressbar__step" aria-hidden="true"></span>
        </div>

        <section class="survey__panel survey__panel--current" aria-hidden="false" data-index="1" data-panel="firstPanel"
          data-requirement="option">
          <h2 class="survey__panel__question">
            <span class="visuallyhidden">Question 1 of 9</span>¿Cuál es tu género?
          </h2>
          <div class="survey__panel__period">
            <div class="form-group">
              <input id="gen_fem" type="radio" name="question_1" value="female" />
              <label for="gen_fem">Femenino</label>
            </div>
            <div class="form-group">
              <input id="gen_masc" type="radio" name="question_1" value="male" />
              <label for="gen_masc">Masculino</label>
            </div>
          </div>
          <p class="error-message"></p>
        </section>

        <section class="survey__panel" aria-hidden="true" data-index="2" data-panel="secondPanel"
          data-requirement="option">
          <h2 class="survey__panel__question">
            <span class="visuallyhidden">Question 2 of 9 </span>¿Sufris de hipertension?
          </h2>
          <div class="survey__panel__satisfaction">
            <div class="form-group">
              <input id="hypertension_yes" type="radio" class="radiobox" name="question_2" value="yes" />
              <label for="hypertension_yes">Sí</label>
            </div>
            <div class="form-group">
              <input id="hypertension_no" type="radio" class="radiobox" name="question_2" value="no" />
              <label for="hypertension_no">No</label>
            </div>
          </div>
          <p class="error-message"></p>
        </section>

        <section class="survey__panel" aria-hidden="true" data-index="3" data-panel="thirdPanel"
          data-requirement="checkbox">
          <h2 class="survey__panel__question">
            <span class="visuallyhidden">Question 3 of 9 </span>¿Sufris alguna enfermedad del corazón?
          </h2>
          <div class="survey__panel__hearabout">
            <div class="form-group">
              <input type="radio" class="radiobox" id="coronary_yes" name="question_3" value="yes" />
              <label for="coronary_yes">Sí</label>
            </div>
            <div class="form-group">
              <input type="radio" class="radiobox" id="coronary_no" name="question_3" value="no" />
              <label for="coronary_no">No</label>
            </div>
          </div>
          <p class="error-message"></p>
        </section>

        <section class="survey__panel" aria-hidden="true" data-index="4" data-panel="fourthPanel"
          data-requirement="option">
          <h2 class="survey__panel__question">
            <span class="visuallyhidden">Question 4 of 9 </span>¿Alguna vez estuviste casado/a?
          </h2>
          <div class="survey__panel__recommendation">
            <div class="form-group">
              <input type="radio" class="radiobox" name="question_4" id="married_no" value="no" />
              <label for="married_no">No</label>
            </div>
            <div class="form-group">
              <input type="radio" class="radiobox" name="question_4" id="married_yes" value="yes" />
              <label for="married_yes">Yes</label>
            </div>
          </div>
          <p class="error-message"></p>
        </section>

        <section class="survey__panel" aria-hidden="true" data-index="5" data-panel="fifthPanel">
          <h2 class="survey__panel__question">
            <!--
                        acá creo que debería poner otra clase para que se centre mejor pero por ahora 
                        que funcion así
                    -->
            <span class="visuallyhidden">Question 5 of 9 </span>¿Cuál es tu tipo de trabajo?
          </h2>
          <div>
            <div class="survey__panel__personaldetails">
              <div class="survey__panel__period">
                <div class="form-group">
                  <input id="work_type_children" type="radio" name="question_5" value="children" />
                  <label for="work_type_children">Niño</label>
                </div>
                <div class="survey__panel__period">
                  <div class="form-group">
                    <input id="gen_fem" type="radio" name="question_5" value="govt_job" />
                    <label for="gen_fem">Sector público</label>
                  </div>
                </div>
                <div class="survey__panel__personaldetails">
                  <div class="survey__panel__period">
                    <div class="form-group">
                      <input id="gen_fem" type="radio" name="question_5" value="never_worked" />
                      <label for="gen_fem">Sector privado</label>
                    </div>
                    <div class="survey__panel__period">
                      <div class="form-group">
                        <input id="gen_fem" type="radio" name="question_5" value="private" />
                        <label for="gen_fem">Nunca trabajé</label>
                      </div>
                    </div>
                    <div class="survey__panel__personaldetails">
                      <div class="survey__panel__period">
                        <div class="form-group">
                          <input id="gen_fem" type="radio" name="question_5" value="self_employed" />
                          <label for="gen_fem">Autonómo</label>
                        </div>
                      </div>
                    </div>
                    <p class="error-message"></p>
        </section>

        <section class="survey__panel" aria-hidden="true" data-index="6" data-panel="sixthPanel">
          <h2 class="survey__panel__question">
            <span class="visuallyhidden">Question 6 of 9 </span>¿Cuál es tu tipo de residencia?
          </h2>
          <div class="survey__panel__period">
            <div class="form-group">
              <input id="res_rural" type="radio" name="question_6" value="rural" />
              <label for="res_rural">Rural</label>
            </div>
            <div class="form-group">
              <input id="res_urb" type="radio" name="question_6" value="urban" />
              <label for="res_urb">Urbano</label>
            </div>
          </div>
          <p class="error-message"></p>
        </section>

        <section class="survey__panel" aria-hidden="true" data-index="7" data-panel="seventhPanel">
          <h2 class="survey__panel__question">
            <span class="visuallyhidden">Question 7 of 9 </span>¿Cuál es tu nivel de glucosa?
          </h2>

          <div class="survey__panel__period">

            <input class = "numericInput" id="lvl_glucosa" type="number" name="question_7" />

          </div>
          <p class="error-message"></p>
        </section>

        <section class="survey__panel" aria-hidden="true" data-index="8" data-panel="eighthPanel">
          <h2 class="survey__panel__question">
            <span class="visuallyhidden">Question 8 of 9 </span>¿Cuál es tu edad?
          </h2>
          <div class="survey__panel__period">
            <div class="form-group">
              <input class = "numericInput" id="res_rural" type="number" name="question_8" />
            </div>

          </div>
          <p class="error-message"></p>
        </section>

        <section class="survey__panel" aria-hidden="true" data-index="9" data-panel="sixthPanel">
          <h2 class="survey__panel__question">
            <span class="visuallyhidden">Question 9 of 10 </span>¿Cuál es tu peso? ¿Y altura?
          </h2>
          <div>
            <div class="survey__panel__period">
              <div class="form-group">
                <input  class = "numericInput" id="height" type="number" name="question_9_weight" placeholder="Peso en kilos" />
              </div>
            </div>
            <div>
              <div class="survey__panel__period">
                <div class="form-group">
                  <input  class = "numericInput" id="weight" type="number" name="question_9_height" placeholder="Altura en centímetros" />
                </div>

              </div>

            </div>
            <p class="error-message"></p>
        </section>

        <section class="survey__panel" aria-hidden="true" data-index="10" data-panel="tenthPanel">
          <h2 class="survey__panel__question">
            <!--
                        acá creo que debería poner otra clase para que se centre mejor pero por ahora 
                        que funcion así
                    -->
            <span class="visuallyhidden">Question 10 of 10 </span>¿Qué tan frecuentemente fumas?
          </h2>
          <div>
            <div class="survey__panel__personaldetails">
              <div class="survey__panel__period">
                <div class="form-group">
                  <input id="smokes_never" type="radio" name="question_10" value="never smoked" />
                  <label for="smokes_never">Nunca Fumé </label>
                </div>
                <div class="survey__panel__period">
                  <div class="form-group">
                    <input id="smokes_formerly" type="radio" name="question_10" value="formerly smoked" />
                    <label for="smokes_formerly">Fumé, pero ya no</label>
                  </div>
                </div>
                <div class="survey__panel__personaldetails">
                  <div class="survey__panel__period">
                    <div class="form-group">
                      <input id="smokes" type="radio" name="question_10" value="smokes" />
                      <label for="smokes">Actualmente fumo</label>
                    </div>
                  </div>
                </div>
                <p class="error-message"></p>
        </section>

        <section class="survey__panel" aria-hidden="true" data-index="11" data-panel="finalPanel" name="final">
          <h2 class="survey__panel__question">
            <span class="visuallyhidden">Respuesta </span>¿Pertenecés a un grupo de riesgo?
          </h2>
          <p>
            Sos riesgoso
          </p>
          <p class="error-message"></p>
        </section>




        <div class="form-buttons">
          <button class="button" type="button" name="prev" disabled="disabled" aria-label="Previous" aria-hidden="true">
            Prev
          </button>
          <button class="button" type="button" name="next" aria-label="Next" aria-hidden="false">Next</button>
          <button class="button" type="submit" id="submit" name="submit" disabled="disabled" aria-hidden="true">
            Submit
          </button>
        </div>
      </form>
      <div class="hidden" id="response" aria-hidden="true">
        <h2 id= "textResponse"></h2>
      </div>
    </main>
  </div>

  <!-- <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script> -->
  <script src = "../static/questions.js"></script>
  <script src = "../static/changingHTML.js"></script>


</body>



</html>


<!--

    1. Aparezcan en la pantalla todas las variables a considerar
    2. Mandar datos del front al back 
        2.1 back recibe los datos 
        2.2 back manda datos a la api 
    3. responder el resultado a la consulta
    4. cambiar el diseño de la pantalla EN FUNCIÓN del resultado en 3 
    5. dejar linda la pagina :P


-->